// ==========================================================================
// Forms
// ==========================================================================

input[type="search"] {
  -webkit-appearance: textfield;
}

textarea {
  resize: vertical;
}

.form-field {
  width: 100%;
  height: rem(35px);
  border: 1px solid $gray;
  font-size: rem(14px);
  color: #43454A;
  line-height: 1.2;
  padding: rem(10px);
  background: $white;
  margin: 0 0 14px;

  &:focus {
    border-color: $primary-color;
  }

  @include placeholder {
    color: lighten(#43454A, 10%);
    opacity: 1;
  }

  &.placeholder {
    color: #43454A;
  }

  &.has-error {
    border-color: $error;
  }

  &.has-success {
    border-color: $success;
  }

  &--text {
    min-height: 100px;
  }
}

.form-field:disabled,
:disabled .form-field,
.form-field.is-disabled,
.is-disabled .form-field {
  border: 1px solid $primary-color;
  pointer-events: none;
  opacity: .5;
}
