// ==========================================================================
// Forms
// ==========================================================================

.form-field {
  width: rem(300px);
  height: rem(50px);
  border: 1px solid $primary-color;
  font-size: rem(14px);
  color: #43454A;
  line-height: 1.2;
  padding: rem(16px) rem(13px);
  background: #FFF;
  margin: 0 0 14px;

  @include placeholder {
    color: lighten(#43454A, 10%);
    opacity: 1;
  }

  &.placeholder {
    color: #43454A;
  }

  &.has-error {
    border-color: $error;
  }

  &.has-success {
    border-color: $success;
  }
}

.form-field:disabled,
:disabled .form-field,
.disabled .form-field {
  border: 1px solid $primary-color;
  opacity: .5;
}
