// ==========================================================================
// Geral
// ==========================================================================

a {
  text-decoration: none;
}

nav {
  li {
    list-style: none;
  }
}

li {
  list-style: disc inside;
}

img {
  max-width: 100%;
}

button {
  border: 0;
  padding: 0;
  background: transparent;
}

address {
  font-style: normal;
}
