// ==========================================================================
// Forms
// ==========================================================================

input[type="search"] {
  appearance: textfield;
}

textarea {
  resize: vertical;
}

.form-group {
  margin-bottom: 15px;
}

label {
  margin-bottom: 5px;
  font-size: rem(14px);
}

.form-field {
  width: 100%;
  margin: 0;
  height: rem(35px);
  border: 2px solid $color-gray-light;
  border-radius: 4px;
  font-size: rem(14px);
  color: $color-gray;
  line-height: 1.2;
  padding: rem(6px) rem(10px);
  background: $color-white;
  transition: border-color 200ms;

  &:hover,
  &:active,
  &.is-active {
    border-color: $color-gray;
  }

  &:focus,
  &.is-focused {
    border-color: $color-primary;
  }

  @include placeholder {
    color: $color-gray-light;
    opacity: 1;
  }

  &.has-error {
    border-color: $color-error;
  }

  &.has-success {
    border-color: $color-success;
  }

  &--text {
    min-height: 100px;
  }
}

.form-field:disabled,
:disabled .form-field,
.form-field.is-disabled,
.is-disabled .form-field {
  border: 1px solid $color-primary;
  pointer-events: none;
  opacity: .5;
}
