// ==========================================================================
// General
// ==========================================================================

//
// Main
//

$main-font-size: 16px;
$main-line-height: 1.4;
$main-font-family: 'Roboto', Arial, tahoma, sans-serif;

$link-decoration: none;
$link-decoration-hover: none;

//
// Config
//

$asset-path: '/assets/images/';
