// ==========================================================================
// Mixins
// ==========================================================================

@mixin clearfix {
  &::before,
  &::after {
    content: '';
    display: table;
  }

  &::after {
    clear: both;
  }
}

@mixin hide-text {
  font: 0/0 a !important;
  text-shadow: none;
}

@mixin grayscale {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
  filter: gray; /* IE6-9 */
  -webkit-filter: #{"grayscale(100%)"}; /* Chrome 19+, Safari 6+, Safari 6+ iOS */
}

@mixin sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0
}

@mixin text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin placeholder {
  &::-webkit-input-placeholder { @content; }
  &::-o-input-placeholder { @content; }
  &::-ms-input-placeholder { @content; }
  &::-moz-input-placeholder { @content; }
  &::input-placeholder { @content; }
}

// ==========================================================================
// Placeholders
// ==========================================================================

%clearfix {
  @include clearfix();
}

%hide-text {
  @include hide-text();
}

%grayscale {
  @include grayscale();
}

%sr-only {
  @include sr-only();
}

%text-truncate {
  @include text-truncate();
}
