// ==========================================================================
// Variables
// ==========================================================================

//
// Main
//

$main-font-size: 16px;
$main-line-height: 1.4;
$main-font-family: 'Roboto', Arial, tahoma, sans-serif;

//
// Config
//

$asset-path: '/assets/images/';

//
// Colors
//

$color-primary: #428BCA;
$color-primary-light: lighten($color-primary, 6%);
$color-primary-dark: darken($color-primary, 6%);

$color-secondary: #196E76;
$color-secondary-light: lighten($color-secondary, 6%);
$color-secondary-dark: darken($color-secondary, 6%);

$color-gray: #666;
$color-gray-light: lighten($color-gray, 20%);
$color-gray-dark: darken($color-gray, 10%);

$color-error: #A94442;
$color-success: #3C763D;

$color-white: #FFF;

$color-brand-twitter: #55ACEE;
$color-brand-facebook: #3B5998;
$color-brand-instagram: #3F729B;
$color-brand-pinterest: #CC2127;
$color-brand-youtube: #E52D27;

//
// Typography
//

$color-titles: $color-primary;
$color-link: $color-primary;
$color-text: $color-gray-dark;

$font-size-h1: rem(ceil($main-font-size * 2.6));   // ~40px
$font-size-h2: rem(floor($main-font-size * 2.15)); // ~34px
$font-size-h3: rem(ceil($main-font-size * 1.7));   // ~28px
$font-size-h4: rem(ceil($main-font-size * 1.25));  // ~20px
$font-size-h5: rem($main-font-size);
$font-size-h6: rem(ceil($main-font-size * 0.85));  // ~14px
